* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
.wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.wrap .top {
  height: 100px;
  background-color: green;
  flex: none;
}
.wrap .wrap1 {
  display: flex;
  flex: 1;
  overflow: auto;
}
.wrap .wrap1 .left {
  width: 200px;
  flex: none;
  overflow-y: scroll;
  background-color: red;
}
.wrap .wrap1 .left ul {
  list-style-type: disc;
  margin-left: 30px;
}
.wrap .wrap1 .right {
  flex: 1;
  background-color: pink;
  overflow-y: auto;
}
