@font-face {
  font-family: "iconfont"; /* Project id 3368375 */
  src: url('iconfont.woff2?t=1659776964282') format('woff2'),
       url('iconfont.woff?t=1659776964282') format('woff'),
       url('iconfont.ttf?t=1659776964282') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuobiao:before {
  content: "\e679";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-libao:before {
  content: "\e607";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

.icon-a-jiantou1:before {
  content: "\e605";
}

.icon-geren:before {
  content: "\e657";
}

.icon-editor2:before {
  content: "\e62e";
}

.icon-huidaodingbu:before {
  content: "\e88d";
}

.icon-erji:before {
  content: "\e65f";
}

.icon-shouji:before {
  content: "\e8c6";
}

.icon-youjiantou:before {
  content: "\e637";
}

.icon-fangdajing:before {
  content: "\e63d";
}

.icon-iconfontcart:before {
  content: "\e603";
}

.icon-cuowu:before {
  content: "\e600";
}

.icon-icon-eye-open:before {
  content: "\e60c";
}

.icon-biyanjing:before {
  content: "\e901";
}

.icon-shouye:before {
  content: "\e62d";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-qizhi:before {
  content: "\e718";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-bofang:before {
  content: "\e624";
}

